<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Maintenance</title>
  </head>
  <body>
    <p>The app is currently under routine maintenance</p>
    <h2>We will be back soon!</h2>
    <p>Thank you for your patience</p>
    {{> footer}}
  </body>
</html>
